/* Estilos del contenido main de la sección de shows y books */

/* Grid container de las fotos de las secciones Shows y Books */
.portfolio-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, auto);
    width: 90%;
    grid-gap: 2.5em;
    margin: 3em auto;
    .portfolio-item{
        .portfolio-photo{
            width: 100%;
            height: 100%;
            @extend %box-shadow;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

/*Selector de 1ra foto */
.portfolio-item:nth-child(1) { 
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
/*Selector de 4ta foto */
.portfolio-item:nth-child(4) { 
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}
/*Selector de 7ma foto */
.portfolio-item:nth-child(7) { 
    grid-column: 1 / 4;
    grid-row: 5 / 8;
}

/* Ajuste de grid para mostrar una foto por row en pantallas angostas */
@media only screen and (max-width: 1080px){ 

    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .portfolio-item:nth-child(n) {
        grid-column: unset;
        grid-row: unset;
    }
}