/* Estilos del contenido main de la sección de shows */

.portfolio-container { /* Este es el grid container de las fotos de las secciones Shows y Books */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, auto);
    width: 90%;
    grid-gap: 2.5em;
    margin: 3em auto;
    .portfolio-item{
        .portfolio-photo{
            width: 100%;
            height: 100%;
            @extend %box-shadow;
        }
        &:hover {
            cursor: pointer;
        }
    }
}


.portfolio-item:nth-child(1) { /*Selector de 1ra foto */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.portfolio-item:nth-child(4) { /*Selector de 4ta foto */
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}
.portfolio-item:nth-child(7) { /*Selector de 7ma foto */
    grid-column: 1 / 4;
    grid-row: 5 / 8;
}

@media only screen and (max-width: 1080px){ /* Ajuste de grid */

    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .portfolio-item:nth-child(n) {
        grid-column: unset;
        grid-row: unset;
    }
}