/* Estilos de página contacto.html */

/* La clase .form-flex es la contenedora del formulario propiamente dicho y de los links a RRSS */
.form-flex {
    margin-top: 2em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* La clase .form-container es la contenedora del formulario propiamente dicho*/
    .form-container {
        width: 35em;
        div {
            .field-text {
                color: nth($colors, 2);
                font-size: 1.6em;
            }
            div {
                .small-field{
                    @extend %form-format;
                }
                .big-field {
                    @extend %form-format;
                    height: 15em;
                }
            }
            
        }
        .custom-button {
            height: 2.3em;
            float: right;
            font-size: 1.6em;
            @extend %form-format;
        }
    }

    /* .rrss es la sección con los links a las RRSS */
    .rrss{ 
        margin: 2.5em;
        text-align: left;
        a { 
            margin: 1em;
            display: block;
            width: auto;
            color: nth($colors, 3);
            transition: all 0.5s;
            &:hover {
                @include color-hover(nth($colors, 3));
                p {
                    @include color-hover(nth($colors, 2));
                }
            }
            p {
                margin-left: .5em;
                font-size: 1.5em;
                display: inline;
                transition: all 0.5s;
            }
        }
    }
}

