.form-flex {
    margin-top: 2em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .form-container{
        width: 35em;
        div{
            .field-text { /* Texto del formulario contacto. Cambié el h3 por este nombre de clase para que no se me pise con el popover que usa h3 */
                color: nth($colors, 2);
            }
            div{
                .small-field{
                    @extend %form-format;
                }
                .big-field {
                    @extend %form-format;
                    height: 15em;
                }
            }
            
        }
        .custom-button {
            height: 2.7em;
            float: right;
            @extend %form-format;
        }
    }
    .rrss{ /* Sección del formulario con links directos a RRSS */
        margin: 2.5em;
        text-align: left;
        .link-form { /* Logos con links directos a RRSS */
            margin: 1em;
            display: block;
            width: auto;
            color: nth($colors, 3);
            transition: all 0.5s;
            &:hover {
                @include color-hover(nth($colors, 3));
                .text-form {
                    @include color-hover(nth($colors, 3));
                }
            }
            .text-form { /* URLs directas a RRSS */
                margin-left: .5em;
                font-size: 1.5em;
                display: inline;
                transition: all 0.5s;
            }
        }
    }
}

