header {
    opacity: 0.9;
    z-index: 5;
    .navbar {
        background-color: nth($colors, 1);
        border-bottom: 1px solid nth($colors, 4);
        padding: 0;
        div {
            a {
                img {
                    width: 6em;
                    margin-left: 1em;
                }
            }
            button {               
                img {
                    width: 2em;
                    border: 1px solid nth($colors, 2);
                    border-radius: 0.3em;
                    transition: all 0.3s;
                    &:hover {
                        animation: hamburger-rotation 1s;
                    }
                }
            }
            div {
                .navbar-nav {
                    margin-right: 5em;
                    align-items: flex-end;
                    /* Este !important lo tuve que agregar, porque en una de las media queries de Bootstrap, me agregaba un margin bottom molesto que me descentraba los botones del header*/
                    margin-bottom: 0!important;
                    .nav-item {
                        background-color: nth($colors, 5);
                        border-radius: 1.25em;
                        margin: 0.4em;
                        border: 1px solid nth($colors, 2);
                        transition: all 0.5s;
                        display: inline-block;
                        width: 8.5em;
                        
                        &:hover {
                            @include color-hover(nth($colors, 2));
                            @include prefixes(scale(1.05));
                            @extend %box-shadow;
                        }                  
                        .nav-link {
                            font-size: 1.5em;
                            text-align: center;    
                            color: nth($colors, 2);                
                        }
                    }
                    .custom-active { /* Esta clase cambia sutilmente el color del background del link en el que el usuario está navegando */
                        background-color: lighten(nth($colors, 5), 5%);
                    }
                }
            }
        }
    }
}

@keyframes hamburger-rotation {
    50% {
        @include prefixes(rotate(90deg));
    }
    100% {
        @include prefixes(rotate(0deg));
    }
}

@media only screen and (max-width: 960px){
    header {
        .navbar {
            div {
                a {
                    img {
                        width: 4em;
                    }
                }
                button {               
                    img {
                        width: 1.5em;
                    }
                }
                div {
                    .navbar-nav {
                        .nav-item {
                            width: 9.2em;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 961px){
    header {
        .navbar {
            div {
                div {
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
}