/* Estilos de contenido main de la sección Workshops*/

/*Tamaño del carousel de Bootstrap en workshops.html*/



/*Secciones de contenido de imagen y texto*/

.anchor-links {
    margin-top: 5em;
    text-align: center;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            a {
                display: inline-block;
                vertical-align: middle;
                background-color: nth($colors, 5);
                border-radius: 1.25em;
                font-size: 1.6em;
                margin: 0.4em;
                border: 1px solid nth($colors, 2);
                transition: all 0.5s;
                padding: 0.6em 1em;
                &:hover {
                    @include color-hover(nth($colors, 2));
                    @extend %box-shadow;
                    @include prefixes(scale(1.05));
                }      
            }
        }
    }
}
.workshop-title {
    margin-top: 2em;
}
.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
    @extend %gradient;
    @extend %box-shadow;   
    .workshops-section-item-text {
        padding: 1.25em;
        width: 50em;
    }
    .workshops-carousel-custom {
        /*width: 70%;*/
        width: 50em;
        height: auto;
        margin: 2em auto;
        .carousel-indicators {
            bottom: -10%;
            button {
                background-color: nth($colors, 3);
            }
        }
    }
}

@media only screen and (max-width: 650px){
    .section-container {
        .workshops-carousel-custom {
            /*width: 70%;*/
            width: 34em;
            height: auto;
            margin: 2em auto;
            .carousel-indicators {
                bottom: -20%;
            }
        }
    }
}

@media only screen and  (min-width: 1080px){
    .back-to-top {
        &:hover {
            opacity: 0.8;
        }
    }
}

