/* Mixins de cambio de color de hover */

@mixin color-hover($color){
    color: lighten($color, 20%);
}
@mixin prefixes($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
}